{% extends "base.html" %}
{% block title %} 错误页 {% endblock %}
{% block pagename %} 错误页 {% endblock %}
{%block pagesubname%} - {%endblock%}
{% block content %} 
<div class="container">

      <h1>请先登录</h1>
      <p>未登录进行操作会看到此页面，本页面将于3秒后跳转至登录页。<br/>若未跳转，<a href="/login/">请点此</a></p>
      <script>
          function redirectpage(){
                window.location.href="/login/"; 
          } 
          window.setTimeout("redirectpage();",3000);
      </script>
</div> <!-- /container -->


{% endblock %}
